{% extends "base.html" %}

{% block content %}
    

<h1>Build-a-blog</h1>
    {% for post in posts %}
    <div class = "post">
        <div class="post-title"><a href="/blog/{{post.key().id()}}">{{post.title}}</a></div>
        <pre class = "post_text">{{post.post_text}}</pre>
        </div>
    {% endfor %}
    <br>
    <div class="nav">

    {% if limit < posts.count() and page < posts.count()//limit %}
    {# if there are more posts than the per-page limit#}
    {# and page is less than total posts//per-page limit #}
    {# I don't see why I put the second part in #}
    <a class="one"href="/blog?page={{page + 1}}">older</a>
    {%endif%}
    {% if page > 0 %}
    <a class="one"href="/blog?page={{page - 1}}">newer</a>
    {% endif %}
    </div>




{% endblock %}
